@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'normalize.css';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-bg-color: #f5f7f9;
  --primary-bg-color-pink: #ffe9e9;
  --secondary-bg-color: #f9c4d2;
  --secondary-font-blue: #92d5f6;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.fa-cart-plus {
  padding-right: 0.5em;
  font-size: 18px;
}
