---
import StartLayout from '../layouts/StartLayout.astro';
---

<StartLayout>
  <section>
    <h1>404</h1>
    <p>page not found</p>
  </section>
</StartLayout>

<style>
  h1 {
    font-size: 48px;
  }

  p {
    font-size: 18px;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20em 0;
  }
</style>
