---
import StartLayout from '../layouts/StartLayout.astro';
---

<StartLayout
  title={'Ups! Siden blev ikke fundet - Karmen Webshop'}
  description={"Vi beklager, men den side, du leder efter, kunne ikke findes. På Karmen Webshop er vores mål at give dig den bedste oplevelse, men det ser ud til, at der opstod en fejl. Vær venlig at kontrollere URL'en eller naviger tilbage til vores hjemmeside for at udforske vores brede udvalg af miljøvenlige produkter og bæredygtige valg. Tak for din forståelse, og kontakt os gerne, hvis du har spørgsmål."}
>
  <section>
    <h1>404</h1>
    <p>Siden blev ikke fundet</p>
  </section>
</StartLayout>

<style>
  h1 {
    font-size: 48px;
  }

  p {
    font-size: 18px;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20em 0;
  }
</style>
