---
import StartLayout from '../layouts/StartLayout.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import Button from '../components/Button.astro';
---

<StartLayout
  title={'Udfyld Formularen - Karmen Webshop '}
  description={'Udfyld vores formular og send dine oplysninger nemt og sikkert til Karmen Webshop. Vi er dedikerede til at tilbyde dig en problemfri oplevelse, når du bestiller vores miljøvenlige produkter og FSC-verificerede sukkulenter. Udfyld formen med dine kontaktoplysninger og eventuelle specifikke anmodninger, og vi vil vende tilbage til dig hurtigst muligt. Vær med til at skabe en mere bæredygtig fremtid med vores produkter. Udfyld formularen i dag!'}
>
  <Breadcrumbs />
  <div class="padding--120px">
    <h1>Fakturering</h1>
    <section class="section__form__address">
      <form class="form__address">
        <label for="address">Adresse</label>
        <input type="text" id="adress" />
        <div class="form__middle__con">
          <div>
            <label for="city">By</label>
            <input type="text" id="city" />
          </div>
          <div>
            <label for="zipcode">Postnummer</label>
            <input type="number" inputmode="numeric" id="zipcode" />
          </div>
        </div>
        <label for="email">Email</label>
        <input type="email" id="email" />
        <Button class={'form__submit'} title={'Til betaling'} />
      </form>
    </section>
    <section class="section__form__payment">
      <div class="form__payment__info">
        <h2>Betalings oversigt</h2>
        <div class="info__con">
          <div>
            <p>Mini staffeli</p>
            <p>1 stk.</p>
          </div>
          <div>
            <p>Sukkulent</p>
            <p>2 stk.</p>
          </div>
          <div class="info__padding__top info__border">
            <p>Sum</p>
            <p>130 DKK</p>
          </div>
        </div>
        <div class="info__con">
          <div>
            <p>Fragt</p>
            <p>30 DKK</p>
          </div>
          <div>
            <p>Moms</p>
            <p>32.5 DKK</p>
          </div>
          <div class="info__padding__top">
            <p>Total sum:</p>
            <p>192.5 DKK</p>
          </div>
        </div>
      </div>
      <div class="payment__tabs">
        <p class="tab--active">Kreditkort</p>
        <p>Mobile pay</p>
        <p>Paypal</p>
      </div>
      <form class="form__payment">
        <label for="ccn">Kort nummer</label>
        <input id="ccn" type="tel" inputmode="numeric" />
        <div class="form__middle__con">
          <div>
            <label for="expiry">Udløbsdato</label>
            <input type="text" id="expiry" />
          </div>
          <div>
            <label for="cvv">CVV</label>
            <input type="number" inputmode="numeric" id="cvv" />
          </div>
        </div>
        <label for="card__name">Navn</label>
        <input id="card__name" type="text" />
        <Button title={'Bestil nu'} class={'btn__order__now'} />
      </form>
    </section>
  </div>
</StartLayout>

<style>
  .padding--120px {
    background-color: var(--primary-bg-color);
  }

  .section__form__address {
    max-width: 670px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 30px;
    filter: drop-shadow(0px 20px 40px rgba(13, 18, 39, 0.3));
    padding: 5em;
    margin-bottom: 6em;
  }

  .form__address {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .form__middle__con {
    display: flex;
    gap: 6em;
  }

  .form__address .form__middle__con div {
    display: flex;
    flex-direction: column;
  }

  .form__payment .form__middle__con div {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .form__submit {
    max-width: 170px;
  }

  .form__payment__info {
    grid-area: info;
    background-color: var(--primary-bg-color-pink);
    border-radius: 30px 0px 0px 30px;
    padding: 4em;
  }

  .payment__tabs {
    max-width: 700px;
    grid-area: tabs;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    border-bottom: 2px solid #f2f4f6;
  }

  .payment__tabs p {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1em;
    cursor: pointer;
  }

  .tab--active {
    border-bottom: 4px solid var(--secondary-bg-color);
  }

  .form__payment {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    padding-left: 4em;
    padding-top: 3em;
    gap: 2em;
  }

  .form__payment .form__middle__con input {
    max-width: 130px;
  }

  .section__form__payment {
    filter: drop-shadow(0px 20px 40px rgba(13, 18, 39, 0.3));
    max-width: 1170px;
    height: 738px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 30px;
    display: grid;
    grid-template-areas:
      'info tabs tabs tabs'
      'info tabs tabs tabs'
      'info form form form'
      'info form form form'
      'info form form form';
  }

  .btn__order__now {
    width: 170px;
    margin-left: auto;
  }

  .form__payment__info div div {
    display: flex;
    justify-content: space-between;
  }

  .form__payment__info p {
    margin: 0.2em;
  }

  .info__padding__top {
    margin: 1em 0;
    font-weight: 500;
  }

  .info__border {
    border-bottom: 6px solid var(--secondary-bg-color);
  }

  .info__border p:nth-child(2) {
    padding-bottom: 1em;
  }

  .info__con {
    padding-top: 4em;
    max-width: 280px;
    margin: 0 auto;
  }

  .info__con:nth-of-type(2) {
    padding: 1em 0;
  }

  .form__payment input {
    max-width: 430px;
  }

  #city,
  #zipcode {
    max-width: 130px;
    margin-top: 1em;
  }

  label {
    font-size: 20px;
    opacity: 30%;
  }

  input {
    border: none;
    border-bottom: 2px solid #f2f4f6;
    font-size: 24px;
    outline: none;
    padding-bottom: 1em;
  }

  /* NO ARROWS IN INPUT FOR TYPE NUMBER */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  h1 {
    font-size: 56px;
    font-weight: 100;
    max-width: 670px;
    margin: 0 auto;
    padding-bottom: 1em;
  }
  h2 {
    font-size: 24px;
    font-weight: 500;
  }
</style>
