---
import '../styles/global.css'
import StartLayout from '../layouts/StartLayout.astro'
import {Image, Picture} from '@astrojs/image/components'
import hero from '../assets/hero-big.webp'
---

<StartLayout>
  <section class="max">
    <Image class="hero__image" src={hero} alt="Karmen køkken"></Image>
    <div class="hero__title">
      <h1>Karmen</h1>
      <p>- En grønnere udsigt</p>
    </div>
  </section>
</StartLayout>

<style>
  .hero__image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  
  .hero__title {
    position: absolute;
    top: 50%;
    right: 20%;
  }

  h1, p {
    color: white;
    text-align: right;
  }

  h1 {
    font-size: 64px;
  }

  p {
    font-style: italic;
    font-size: 36px;
  }
</style>