---
import { Image, Picture } from '@astrojs/image/components';
import Button from '../components/Button.astro';
import StartLayout from '../layouts/StartLayout.astro';
import plante from '../assets/plante_3.png';
import staffeli from '../assets/staffeli.png';
import kurv from '../assets/kurv.png';
import ugle from '../assets/ugle.png';
import krokodille from '../assets/krokodille.png';
import Breadcrumbs from '../components/Breadcrumbs.astro';
---

<StartLayout
  title={'Sikker Betaling - Karmen Webshop for Miljøvenlige Produkter'}
  description={'Foretag sikre og problemfri betalinger på Karmen-webshoppen for miljøvenlige produkter og FSC-verificerede sukkulenter. Vores betalingsside tilbyder en pålidelig og beskyttet betalingsproces, der sikrer dine personlige oplysninger. Vælg mellem forskellige betalingsmetoder og gennemfør din transaktion med lethed. Køb dine foretrukne bæredygtige produkter med tillid og ro i sindet. Betal nu og vær en del af den grønne bevægelse!'}
>
  <div class="padding--120px">
    <Breadcrumbs class="breadcrumbs" />
    <section class="section--grey">
      <h1>Indkøbskurv</h1>
      <div class="section__con__products">
        <div class="product">
          <div class="product__image__con image--staffeli">
            <Image format={'webp'} src={staffeli} width={108} height={134} alt="Mini staffeli" />
          </div>
          <div class="product__title">
            <p class="p--bold">Mini staffeli</p>
            <p class="p--faded">Inkl. malerlærred</p>
          </div>
          <div class="item__counter">
            <button class="btn__minus">-</button>
            <p class="item__count">0</p>
            <button class="btn__plus">+</button>
          </div>
          <div class="item__price">
            <p class="p--bold price">30 kr</p>
          </div>
          <div class="item__trash">
            <i class="fa-solid fa-trash-can"></i>
          </div>
        </div>
        <div class="product">
          <div class="product__image__con">
            <Image format={'webp'} src={plante} width={108} height={134} alt="Sukkulent" />
          </div>
          <div class="product__title">
            <p class="p--bold">Sukkulent</p>
            <p class="p--faded">Grøn plante</p>
          </div>
          <div class="item__counter">
            <button class="btn__minus">-</button>
            <p class="item__count">0</p>
            <button class="btn__plus">+</button>
          </div>
          <div class="item__price">
            <p class="p--bold price">50 kr</p>
          </div>
          <div class="item__trash">
            <i class="fa-solid fa-trash-can"></i>
          </div>
        </div>
      </div>
      <a class="pay__btn" href="/karmen/betaling/"><Button title={'Gå til betaling'} /></a>
    </section>
  </div>
</StartLayout>

<style>
  .section__con__products {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .section--grey {
    background-color: var(--primary-bg-color);
    padding-top: 5em;
    padding-bottom: 10em;
    margin-bottom: 18em;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
  }

  .product {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    width: 80%;
    height: 185px;
    margin: 0 auto;
    background-color: #fff;
  }

  .product__image__con {
    background-color: var(--primary-bg-color-pink);
    width: 281px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    right: 3.2em;
    transition: 0.3s;
  }

  .product__image__con:hover {
    transform: scale(1.35);
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
  }

  .product__title {
    width: 130px;
  }

  .p--bold {
    font-weight: 500;
    font-size: 18px;
  }

  .p--faded {
    opacity: 30%;
  }

  .padding--120px {
    padding-top: 0;
  }

  .pay__btn {
    max-height: 60px;
    align-self: center;
    justify-self: end;
    margin-right: 15%;
  }

  .fa-trash-can {
    font-size: 18px;
    cursor: pointer;
  }

  .item__counter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .item__counter button {
    background-color: inherit;
    border: 2px solid var(--secondary-bg-color);
    cursor: pointer;
  }

  .item__count {
    background-color: var(--secondary-bg-color);
    padding: 1em;
    color: #fff;
    margin: 0;
  }

  .btn__plus {
    border-radius: 0px 5px 5px 0px;
  }

  .btn__minus {
    border-radius: 5px 0px 0px 5px;
  }

  h1 {
    font-size: 48px;
    font-weight: 100;
    padding-left: 2em;
  }

  @media only screen and (max-width: 1024px) {
    .breadcrumbs {
      display: none;
    }

    .section--grey {
      padding: 2em 20px 0 20px;
      margin-bottom: 5em;
      display: flex;
      flex-direction: column;
      gap: 2em;
    }

    .section--grey h1 {
      padding-left: 0;
      font-size: 20px;
    }

    .product__image__con {
      grid-area: img;
    }

    .product__title {
      grid-area: title;
    }

    .product__title p,
    .item__price p {
      font-size: 14px;
    }

    .item__counter {
      grid-area: counter;
    }

    .item__price {
      grid-area: price;
    }

    .item__trash {
      grid-area: trash;
    }

    .product {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'img img'
        'title price'
        'counter trash';
      height: auto;
      width: 100%;
      background: inherit;
      text-align: center;
      gap: 1em;
    }

    .product__image__con {
      position: static;
    }

    .pay__btn {
      margin: 2em 0 2em 0;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .product {
      width: 40%;
    }
  }
</style>
