---
import StartLayout from '../layouts/StartLayout.astro';
---

<StartLayout>
  <div class="padding--120px">
    <section>
      <h1>Tak</h1>
      <h2>Fordi du støtter os og vores</h2>
      <h2>mission om bæredygtighed!</h2>
    </section>
  </div>
</StartLayout>

<style>
  section {
    color: var(--secondary-bg-color);
    padding: 5em 0 15em 12em;
  }

  h1 {
    font-size: 72px;
    font-weight: 500;
    margin: 0.2em 0;
  }
  h2 {
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }

  @media only screen and (max-width: 1024px) {
    section {
      height: 80vh;
      padding: 0 20px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    section {
      height: 45vh;
      padding: 0 120px;
    }
  }
</style>
