---
import StartLayout from '../layouts/StartLayout.astro';
---

<StartLayout
  title={'Tak for dit køb! - Karmen Webshop for Miljøvenlige Produkter'}
  description={'Vi takker dig varmt for dit køb hos Karmen Webshop! Du har gjort et miljøvenligt valg ved at støtte vores udvalg af produkter, der fokuserer på bæredygtighed og FSC-verificerede sukkulenter. Din tilfredshed er vores højeste prioritet, og vi vil straks begynde at behandle din ordre. Hold øje med vores bekræftelses-e-mail, hvor du vil modtage flere oplysninger om levering og tracking. Vi sætter pris på din støtte til en mere bæredygtig fremtid. Endnu en gang, tak for dit køb!'}
>
  <div class="padding--120px">
    <section>
      <h1>Tak</h1>
      <h2>Fordi du støtter os og vores</h2>
      <h2>mission om bæredygtighed!</h2>
    </section>
  </div>
</StartLayout>

<style>
  section {
    color: var(--secondary-bg-color);
    padding: 5em 0 15em 12em;
  }

  h1 {
    font-size: 72px;
    font-weight: 500;
    margin: 0.2em 0;
  }
  h2 {
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }

  @media only screen and (max-width: 1024px) {
    section {
      height: 80vh;
      padding: 0 20px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    section {
      height: 45vh;
      padding: 0 120px;
    }
  }
</style>
