---
import '../styles/global.css'
import {Image, Picture} from '@astrojs/image/components'
import logo from '../assets/karmen-logo.svg'
import button from '../components/Button.astro'
import Button from '../components/Button.astro';
---

<footer>
  <div class="sub__con">
    <h5>Tilmeld dig vores nyhedsbrev</h5>
    <div class="sub__btn__con">
      <i class="fa-solid fa-envelope" style="color: #92d5f6;"></i>
      <input type="email" placeholder="Din Email">
      <Button class='sub__btn' title='Abonner'></Button>
    </div>
  </div>
  <div class="footer__con">
    <Image src={logo} alt="Karmen logo"></Image>
    <ul>
      <li class="active__footer"><a href="">Forside</a></li>
      <li><a href="">Produkter</a></li>
      <li><a href="">Mere info</a></li>
      <li><a href=""><i class="fa-solid fa-cart-plus"></i>Kurv</a></li>
    </ul>
  </div>
</footer>

<style>
  footer {
    background-color: var(--primary-bg-color);
    height: 389px;
    padding: 0 4em;
  }

  .sub__con {
    max-width: 770px;
    margin: 0 auto;
    position: relative;
    bottom: 7.5em;
  }

  .footer__con {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
  }

  ul {
    display: flex;
    color: var(--secondary-font-blue);
    font-weight: 500;
    justify-self: center;
  }

  li {
    padding: 1.5em 2em;
  }

  .sub__btn__con {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
    padding: 0.5em;
    gap: 1em;
    background-color: #fff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }

  .fa-envelope {
    justify-self: end;
  }

  input {
    border: none;
    height: 50%;
  }

  .sub__btn {
    font-weight: 400;
    width: 200px;
    height: 80px;
    font-size: 18px;
    transition: transform 0.5s;
    box-shadow: none;
  }

  .sub__btn:hover {
    transform: translateX(-12px) scale(1.2);
  }

  h5 {
    text-align: center;
    font-size: 24px;
  }
</style>