---
import '../styles/global.css';
import logo from '../assets/karmen-logo-sort.png';
import menu from '../assets/menu.svg';
import { Image, Picture } from '@astrojs/image/components';
---

<script src="../scripts/menu.js"></script>
<script src="../scripts/kurv.js"></script>

<script>
  const listLink1 = document.querySelector('.li__1');
  const listLink2 = document.querySelector('.li__2');
  const listLink4 = document.querySelector('.li__4');
  const kurvHover = document.querySelector('.modal');

  listLink4.addEventListener('mouseover', () => {
    kurvHover.classList.remove('animate__slideInDown');
    kurvHover.classList.add('modal--active');
    kurvHover.classList.add('animate__slideInDown');
  });

  listLink4.addEventListener('mouseleave', () => {
    kurvHover.classList.remove('animate__slideInDown');
    kurvHover.classList.add('animate__slideOutUp');
    delay(200).then(() => {
      kurvHover.classList.remove('animate__slideOutUp');
      kurvHover.classList.remove('modal--active');
    });
  });

  function delay(time) {
    return new Promise((resolve) => setTimeout(resolve, time));
  }

  if (screen.width > 768) {
    if (document.URL.includes('karmen/produkter')) {
      listLink2.classList.add('active__header');
    } else if (document.URL.includes('karmen/produkt')) {
      listLink2.classList.add('active__header');
    } else if (document.URL.includes('karmen/products')) {
      listLink2.classList.add('active__header');
    } else if (document.URL.includes('karmen/kurv')) {
      listLink4.classList.add('active__header');
    } else if (document.URL.includes('karmen/betaling')) {
      listLink4.classList.add('active__header');
    } else if (document.URL.includes('karmen/tak')) {
      listLink4.classList.add('active__header');
    } else {
      listLink1.classList.add('active__header');
    }
  }
</script>

<header id="top">
  <a href="/karmen/">
    <Image format={'webp'} src={logo} width={117} height={50} alt="Logo for Karmen webshop" />
  </a>
  <Image class="menu__btn" format={'svg'} src={menu} width={35} height={30} alt="Menu knap" />
  <nav class="animate__animated">
    <i class="fa-regular fa-circle-xmark"></i>
    <ul>
      <li class="li__1"><a href="/karmen/">Forside</a></li>
      <li class="li__2"><a href="/karmen/produkter/">Produkter</a></li>
      <li class="li__3"><a href="">Mere info</a></li>
      <li class="li__4">
        <div class="modal animate__animated"></div>
        <a href="/karmen/kurv/"> <i class="fa-solid fa-cart-plus"></i>Kurv</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .modal {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    position: absolute;
    top: 5em;
    width: 150px;
    max-height: 150px;
    border: 1px solid var(--primary-bg-color-pink);
    border-radius: 0 0 20px 20px;
    background-color: var(--primary-bg-color-pink);
    padding: 0.5em;
    z-index: -1;
    --animate-duration: 0.2s;
  }

  .modal--active {
    display: flex;
  }

  .menu__btn,
  .fa-circle-xmark {
    display: none;
  }

  .nav--active {
    display: flex;
    flex-direction: column;
  }

  .fa-circle-xmark {
    font-size: 48px;
    margin-left: auto;
    padding: 0.2em;
  }

  header {
    background-color: var(--primary-bg-color-pink);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    max-width: 1440px;
    margin: 0 auto;
  }

  nav {
    display: flex;
    align-items: center;
    height: 100%;
  }

  ul {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 2em;
    font-weight: 500;
  }

  li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    border-bottom: 3px solid transparent;
  }

  li:hover {
    border-bottom: 3px solid var(--secondary-bg-color);
  }

  .active__header {
    border-bottom: 3px solid var(--secondary-bg-color);
  }

  @media only screen and (max-width: 768px) {
    .menu__btn {
      display: block;
    }

    nav {
      display: none;
      justify-content: center;
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100vw;
      background-color: var(--primary-bg-color-pink);
      z-index: 99;
    }

    ul {
      flex-direction: column;
      justify-content: center;
      gap: 5em;
      width: 100%;
    }

    li {
      height: initial;
      width: 100%;
      font-size: 40px;
    }

    li:hover {
      border: none;
    }

    header {
      justify-content: space-around;
    }

    .active__header {
      border: none;
    }
  }
</style>
