---
import '../styles/global.css'
import Header from '../layouts/Header.astro'
import Footer from '../layouts/Footer.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/42e26b8656.js" crossorigin="anonymous"></script>
  <title>Karmen</title>
</head>
<body>
  <Header></Header>
  <main>
  <slot />
  </main>
  <Footer></Footer>
</body>
</html>